@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", serif;

}

#hero {
    height: 735px;
    background-image: linear-gradient(0deg, rgb(9, 9, 9) 3.482%, rgba(16, 16, 16, 0) 101.632%),
        url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-content {
    width: 818px;
    height: 360px;
    /* background-color: blue; */
    /* border: 2px solid black; */
    /* margin: 0 auto; */
}

.title {
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;

}

.description {

    color: rgb(255, 255, 255);
    font-size: 51px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0%;
    text-align: center;

    margin-top: 16px;
    margin-bottom: 24px;
}

.intro {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

    margin-bottom: 32px;

}

.btn {
    border-radius: 8px;

    background: rgb(82, 195, 3);
    width: 225px;
    height: 52px;


    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    
    border: 0;
    display: block;
    margin: 0 auto;
}