/* Shared Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.common-boundary {
    margin: 0px 180px 0px 180px;
}

.common-color {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;

}

/* main share styles */

.main-boundary {
    margin: 130px 180px;
}

.section-title {
    text-align: center;
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* main share styles end */


/* Header Styles */

.header {
    padding-top: 35px;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 600px;
    background-color: #FFF8F3;
}



/* Nav Styles */

.header nav h3 {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.header nav span.nav-title {
    color: #FD6E0A;
}

.header nav ul li {
    list-style-type: none;
    margin-left: 70px;
    margin-right: 70px;
}

.header nav ul li a {
    text-decoration: none;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav ul {
    display: flex;
    align-items: center;
}

/* Banner styles */

.banner {
    margin-top: 50px;
    margin-left: 180px;
    padding-right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .banner-pic {
    width: 400px;
    height: 500px;
    margin-right: 100px;
}

.header .banner .banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.header .banner .banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
}

.header .banner .banner-description {
    width: 585px;
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 24px;
}

.sec-btn {
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    background: #FFF8F3;
    color: #FD6E0A;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 24px;
    margin-left: 20px;
}

/* Main styles */

.about {
    border-radius: 10px;
    background-color: #FFF8F3;
    padding: 130px 155px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info {
    text-align: center;
    color: #474747;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

/* What I Do styles */

.What-I-Do {
    padding: 0 155px;

}

/* Skill Styles */

.skills-container {
    display: flex;
    justify-content: space-around;
}

.skills-container .skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 30px;
    margin-right: 30px;
}

.skill .skill-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill .skill-description {
    color:#757575;
    font-size: 16px;
    font-weight: 400;
}